/** @format */
.app-container {
	font-family: Arial, sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main-content {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 50px 0 20px 20px;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 50px 0 20px 20px;
}

.main-body {
	display: flex;
	flex: 1;
	gap: 20px;
	flex-wrap: wrap;
}

/* Template Section */
.template-section {
	flex: 1;
	min-width: 300px;
	max-width: 370px;
	padding: 20px;
	background: #f4f4f4;
	border-radius: 15px;
}

/* Template Content */
.template-header {
	text-align: center;
	padding: 15px 0;
}

.template-title {
	margin-bottom: 15px;
	font-size: 28px;
}

.template-content {
	background: white;
	padding: 10px 0;
	border-radius: 10px;
}

.template-item {
	display: flex;
	justify-content: center;
}

.search-container {
	position: relative;
	width: 90%;
	display: flex;
	align-items: center;
	background-color: #f4f4f4;
	border-radius: 8px;
	padding: 0 10px;
	margin-bottom: 16px;
}

.search-input {
	width: 100%;
	padding: 12px 5px;
	background-color: transparent;
	border: none;
	border-radius: 6px;
	outline: none;
	font-size: 16px;
}

.search {
	color: #999;
	margin-left: auto;
}

.template-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.template-list-items {
	background-color: #f4f4f4;
	padding: 12px 14px;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	width: 90%;
	text-align: center;
}

/* Template Details */
.template-details {
	flex: 2;
	min-width: 320px;
	padding: 20px;
	background: #f4f4f4;
	border-radius: 15px;
}

.template-details-header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.template-details-header-content {
	display: flex;
	align-items: center;
	gap: 8px;
}

.template-details-info {
	color: #666;
}

.template-details-header-actions {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-top: 10px;
	flex-wrap: wrap;
}

.template-details-action-button {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
	cursor: pointer;
}

/* Template Body */
.template-details-body {
	background-color: #fff;
	padding: 15px;
}

.template-detail-item {
	background-color: #f4f4f4;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 15px;
}

.template-detail-label {
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}

.template-detail-description {
	margin-left: 20px;
	list-style: disc;
}

/* Action Buttons */
.template-details-actions {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	padding: 20px;
	flex-wrap: wrap;
}

.template-details-actions button {
	padding: 10px 20px;
	border-radius: 8px;
	cursor: pointer;
	border: none;
}

.send-referral-button {
	background-color: #fff;
	border: 1px solid #000;
}

.save-note-button {
	background-color: #000;
	color: #fff;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
	main {
		padding: 20px;
	}

	.main-body {
		flex-direction: column;
		align-items: center;
	}

	.template-details {
		width: 100%;
		margin-left: 0;
	}

	.template-section {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.template-title {
		font-size: 22px;
	}

	.template-details-action-button span {
		display: none;
	}
}
